# all folders
*/

# all pickle files and parameters files
*.p
*.csv
parameters/

# all images
*.pdf

# vscode cache files
__pycache__

# all jupyter notebook
*.ipynb

# experiment files
scratch.py
model_examination.py

# all shell files
*.sh